#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dishes {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.dish {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    gap: 18px;
    width: 30%;
    padding: 20px;
    background-color: var(--color-neutral-0);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    max-width: 280px; /* Reduzi um pouco para evitar cortes */
    flex: 0 0 calc(100% / 3 - 24px); /* Garante que sempre 3 aparecem */
}

.dish-heart {
    position: absolute;
    background-color: var(--color-primary-6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.563rem;
    color: var(--color-primary-1);
    width: 70px;
    height: 70px;
    right: -10px;
    top: -10px;
    border-radius: 0px 37.5px 0px 42.5px;
}

.dish-image {
    width: auto; /* Evita que a imagem fique gigante */
    height: 180px; /* Tamanho fixo para evitar cortes */
    object-fit: contain; /* Mantém a proporção */
}

.dish-description {
    color: #434343;
    text-align: center;
}

.dish-rate i {
    color: var(--color-primary-6);
}

.dish-price {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (max-width: 1170px) {
    #dishes {
        flex-wrap: wrap;
        justify-content: center;
    }

    .dish {
        width: calc(50% - 12px);
    }
}

@media screen and (max-width: 600px) {
    .dish {
        width: 100%;
    }

    #menu .section-subtitle {
        text-align: center;
    }
}


/* carrossel: */

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 200%; /* Ajustado para suportar as transições */
    justify-content: center; /* Centraliza os itens */
    gap: 24px; /* Mantém espaçamento */
}


.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6); /* Opacidade de 60% */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px 15px;
    z-index: 10;
    border-radius: 50%; /* Deixa o botão arredondado */
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Opacidade aumenta ao passar o mouse */
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}
