#testimonials {
    min-height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 48px;
    padding: 0 20px;
}

#testimonial_chef {
    width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 30px;
}

#testimonials .section-subtitle {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

#testimonials_content {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#feedbacks-container {
    width: 100%;
    max-width: 800px;
    height: 400px;
    overflow-y: auto;
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
}

.feedback {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: var(--color-neutral-0);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

.feedback-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.feedback-content {
    flex: 1;
}

.feedback-content p {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.feedback-content p span {
    color: var(--color-primary-6);
}

#feedback_form {
    margin-bottom: 30px;
    width: 100%;
    max-width: 800px;
    background-color: var(--color-neutral-0);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

#feedback_form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ddd;
}

#feedback_form button {
    background-color: var(--color-primary-6);
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    margin-top: 20px;
}

.container {
    display: flex;
    align-items: flex-start;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.star {
    font-size: 2rem;
    cursor: pointer;
    color: gray;
}

.star.checked {
    color: gold;
}

.comments {
    margin-left: 20px;
}

@media screen and (max-width: 1170px) {
    #testimonials .section-subtitle {
        font-size: 2.5rem;
    }

    #testimonial_chef {
        display: none;
    }

    #testimonials_content {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #testimonials .section-subtitle {
        font-size: 2rem;
    }

    #testimonials_content {
        width: 100%;
    }

    .feedback {
        flex-direction: column;
        align-items: center;
    }

    #feedback_form button {
        max-width: 100%;
    }
}
